@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakes-Bold.woff') format('woff'),
        url('fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakes-Medium.woff') format('woff'),
        url('fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakes-Regular.woff') format('woff'),
        url('fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    background: #f8f8f8;
    padding:  0;
    margin: 0;
    font-family: "TT Lakes", "Times New Roman", serif;
}
.list-reset{
    padding-left: 0;/*стандартные*/
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}
.main{
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    padding: 42px 32px;
}

.main-wrapper{ 
    display: flex;    
    justify-content: center;
    }
.main-title{    
    font-size: 28px;
    line-height: 40px;
    font-weight: bold;
    color: #1B1C21;
    position: relative;
    margin: 0;
}
.main-title::before{
    content: "";
    position: absolute;
    width: 3px;
    height: 40px;
    background-color: #b8ffec;
    border-radius: 2px;
    top: 0;
    left: -32px;  
}
.main-menu{
    display: flex;
    margin-left: auto;   
}
.main-menu-item{
    margin-left: 32px;
}
.main-menu-item a{
    position: relative;    
    padding-right: 48px;
    line-height: 40px;
    display: block;
    text-decoration: none;
    font-size: 16px;         
    color: #1B1C21;
    font-weight: 500;
}
.main-menu-item a::after{
    content: "";
    display: block;
    border-radius: 50%;
    background-color: #ff3e79;
    background-image: url("images/tools.svg");
    background-repeat: no-repeat;
    background-position: center; 
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
}
.main-menu-item:nth-child(1) a::after{
       background-image: url("images/tools.svg");   
}
.main-menu-item:nth-child(2) a::after{
       background-image: url("images/status.svg");   
}
.main-menu-item:hover a{
    color: #0266d6;
}


.main-nav{
    display: flex;
    flex-wrap: wrap;       
    margin-top: 10px;
    
}
.main-nav-item{}
.main-nav-item a{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    text-decoration: none;
    padding: 6px 20px;
    border: 2px solid transparent;
    border-radius: 6px;   
    display: block;
}
.main-nav-item:hover a{
    background-color: white;
    border-color: #b8ffec;
}
.main-content{
    display: flex;
    align-items: flex-start;
}
.main-text{   
    flex-grow: 1;
}
button.link-more{
    background: transparent;
    border: none;
}
.link-more{
    font-size: 16px;
    line-height: 24px;
    color: #1B1C21;
    text-decoration: none;
    padding-left: 32px;
    position: relative;
}
.link-more::before{
    content: "";
    display: block;
    background-image: url("images/a.svg");
    background-repeat: no-repeat;
    background-position: center; 
    width: 8px;
    height: 11px;
    position: absolute;
    top: 5px;
    left: 10px;
}
.link-more:hover{
    color: transparent;
}
.main-img{
    width: 50%;
    margin-left: 32px;
    flex-shrink: 0;
    border-radius: 6px;
}

















